<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root" class="container pt-5">

    <!------------------------ HEADER --------------------------->
        <header class="row">

            <!--! LEFT COLUMN: USER PROFILE-->
            <div class="col-5">

                <!--* USER PROFILE -->
                <section class="row p-2 bg-header">
                    <div class="col-1 d-flex align-items-center">
                        <img v-bind:src="`./img/avatar${user.avatar}.jpg`" v-bind:alt="user.avatar" class="profile-style">
                    </div>

                    <div class="col-6 d-flex align-items-center">
                        <div class="row align-items-center">
                            <h6 class="ms-4 profile-name"> {{user.name}}</h6>
                        </div> 
                    </div>

                    <div class="col-5 d-flex align-items-center justify-content-end">
                        <i class="fas fa-circle-notch px-2"></i>
                        <i class="fas fa-comment-alt px-2"></i>
                        <i class="fas fa-ellipsis-v px-2"></i>
                    </div>
                </section>

            </div>


            <!--! RIGHT COLUMN: CURRENT CONTACT CHAT -->
            <div class="col-7">
           
                <!--* CURRENT CONTACT -->
                <section class="row p-2 bg-header">
                    <div class="col-1 d-flex justify-content-center align-items-center">
                        <img :src=" `./img/avatar${contacts[currentIndex].avatar}.jpg` " :alt="contacts[currentIndex].avatar" class="profile-style">
                    </div>

                    <div class="col-6 d-flex align-items-center">
                        <div class="row align-items-center">
                            <h6 class="profile-name"> {{contacts[currentIndex].name}} </h6>
                            <p class="last-access">Ultimo accesso oggi alle 12.15</p>
                        </div> 
                    </div>

                    <div class="col-5 d-flex align-items-center justify-content-end">
                        <i class="fas fa-search px-2"></i>
                        <i class="fas fa-paperclip px-2"></i>
                        <i class="fas fa-ellipsis-v px-2"></i>
                    </div>
                </section>

            </div> 
        </header>



    <!------------------------ MAIN --------------------------->
        <main class="row">  
            
            <!--! LEFT COLUMN: ALERT, SEARCH BAR AND CONTACTS LIST -->
            <div class="col-5">

                <!--* NOTIFICATION ALERT -->
                <section class="row p-2 alert-style">

                    <div class="col-1 d-flex align-items-center">
                        <div class="bell-style d-flex align-items-center">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                    </div>

                    <div class="col-11 d-flex align-items-center">
                        <div class="row jalign-items-center">
                            <h6 class="ms-4 alert-title">Ricevi notifiche di nuovi messaggi</h6>
                            <p class="ms-4 alert-subtitle">Attiva notifiche desktop</p>  
                        </div> 
                    </div>

                </section>

                <!--* SEARCH BAR -->
                <section class="row align-items-center p-2 search-section">
                    <div class="col">
                        <div class="input-group">
                            <button class="input-group-text search-bar-style"><i class="fas fa-search"></i></button>
                            <input type="text" class="form-control search-bar-style"placeholder="Cerca o inizia una nuova chat">
                        </div>
                    </div>
                </section>

                <!--* CONTACTS LIST-->
                <section class="contacts-list row bg-white">

                    <section class="col">
                        <div class="row single-chat" v-for = '(item, index) in contacts' v-on:click="selectedChat(index)">
                            <div class="col-1 d-flex justify-content-center align-items-center">
                                <img :src="`./img/avatar${item.avatar}.jpg`" alt="item.avatar" class="profile-style"> 
                            </div>
                
                            <div class="col-11 d-flex align-items-center">
                                <div class="row pb-3 ps-2 align-items-start">
                                    <h6 class="profile-name"> {{item.name}}</h6>
                                </div> 
                            </div>
                        </div>
                    </section>
                   
                </section>
            </div>
    


            <!--! RIGHT COLUMN: CURRENT CHAT AND TYPING BAR-->
            <div class="col-7">

                <!--* OPEN CHAT -->
                <section class="row open-chat">
                    <div class="col-12 pt-4">

                        <!--! CURRENT CONTACT MESSAGES -->
                        <div v-for="(item, index) in contacts[currentIndex].messages">
                            <div class="row" v-bind:class="isReceived(item.status)">
                                <div class="col-6 py-2 d-flex justify-content-center align-items-center">
                                    <div v-bind:class="isContactMessage(item.status)">
                                        <p class="msg-text"> {{item.message}}</p>
                                        <p class="text-end date-text"> {{item.date}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </section>


                <!--* TYPING SECTION -->
                <section class="row chat-footer align-items-center">

                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <i class="far fa-smile"></i>
                    </div>

                    <div class="col-10">
                        <div class="input-group">
                            <input type="text" class="form-control typing-bar" placeholder="Scrivi un messaggio" v-model="newUserMessage.message"
                            @keyup.enter="addUserMessage">
                        </div>
                    </div>

                    <div class="col-1 d-flex align-items-center justify-content-center">
                        <i class="fas fa-microphone"></i>
                    </div>

                </section>
            </div>
            
        </main> 
    </div>

    <script src="./js/script.js"></script>
</body>
</html>